li input[type=checkbox]:checked + label::after{
  content:' (hidden)';
}


.hidden-list input[type=checkbox]:checked:before {
    content: "\f158";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
}


.big-eye {
	font-size: 3em;
	text-align: center;
	display: block;
	width: 90px;
}